<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new project</title>
</head>
<body>
    <h1>Add/edit project</h1>

    <form method="POST" action="/add" data-th-object="${project}">
        <table>
            <tr>
                <td>Project:</td>
                <td>
                    <input type="text" name="projName" data-th-field="*{projName}">
                </td>
                <td>
                    <p 
                    data-th-if="${#fields.hasErrors('projName')}"
                    data-th-errors="*{projName}" data-th-errorclass="error">
                    <ul>
                        <li data-th-each="err:${#fields.hasErrors('projName')}">
                            <span data-th-text="${err}" class="error"></span>
                        </li>
                    </ul>
                </p>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>
                    <input type="text" name="description" data-th-field="*{description}">
                    <p 
                        data-th-if="${#fields.hasErrors('description')}"
                        data-th-errors="*{description}" data-th-errorclass="error">
                        <ul>
                            <li data-th-each="err:${#fields.hasErrors('description')}">
                                <span data-th-text="${err}" class="error"></span>
                            </li>
                        </ul>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Due Date:</td>

                <!-- edit previous project -->
                <td data-th-if="${project != null}">
                    <input type="date" name="dueDate" data-th-value="${dueDate}"> 
                    <span 
                        data-th-if="${#fields.hasErrors('dueDate')}"
                        data-th-errors="*{dueDate}" data-th-errorclass="error">
                    </span>
                </td>
                <!-- add new project -->
                <td data-th-unless="${project != null}">
                    <input type="date" name="dueDate" data-th-field="*{dueDate}"> 
                    <span 
                        data-th-if="${#fields.hasErrors('dueDate')}"
                        data-th-errors="*{dueDate}" data-th-errorclass="error">
                    </span>
                </td>
            </tr>
            <tr>
                <td>priority</td>
                <td>
                    <select class="form-select" name="priority" data-th-field="*{priority}">
                        <option value="low" selected>Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                    <span 
                       data-th-if="${#fields.hasErrors('priority')}"
                       data-th-errors="*{priority}" data-th-errorclass="error">
                    </span>
                </td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <select class="form-select" name="status" data-th-field="*{status}">
                        <option value="pending" selected>Pending</option>
                        <option value="started">Started</option>
                        <option value="in_progress">In progress</option>
                        <option value="completed">Completed</option>
                    </select>
                    <span 
                        data-th-if="${#fields.hasErrors('status')}"
                        data-th-errors="*{status}" data-th-errorclass="error">
                    </span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>